* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}

:root {
    --primary-color: indianred;
    --secondary-color: black;
    --light-color: #2f3640;
}

.nav1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 0 3px grey;
    text-align: center;
}

.nav1 .left {
    flex-basis: 50%;
    letter-spacing: 2px;
}

.nav1 .left a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    margin: 0px 5px;
}

.nav1 .right {
    flex-basis: 50%;
}

.nav1 .right i {
    font-size: 20px;
    margin: 0px 15px;
    background-color: var(--primary-color);
    padding: 8px;
    color: white;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.nav1 .right i:hover {
    transform: rotate(360deg);
}

/* Nav 2 Start here */

.nav2 {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.nav2 .nav2-left,
.nav2 .nav2-center,
.nav2 .nav2-right {
    flex-basis: 30%;
    margin: auto;
    cursor: pointer;
}

.nav2 .nav2-left i {
    margin-left: 15px;
}

.nav2 .nav2-center h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}

.nav2 .nav2-center span {
    color: black;
}

.nav2 .nav2-center p {
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}

.nav2 .nav2-right i {
    margin: 0px 5px;
}

/* Nav 3 Start here */

.nav3 {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav3 ul {
    list-style: none;
    text-align: center;
}

.nav3 ul li {
    display: inline-block;
    width: 140px;
    z-index: 99;
    position: relative;
}

.nav3 ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: block;
}

.nav3 ul li a:hover {
    color: var(--primary-color);
}

.nav3 ul li i {
    color: var(--primary-color);
    margin: 0px 6px;
}

.nav3 ul ul {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
}

.nav3 ul ul li {
    background-color: white;
    border-bottom: 1px solid var(--primary-color);
}

.nav3 ul li:hover>ul {

    display: block;
}

/* Featured section start here */

.featured {
    width: 100%;
    height: 60vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 0.2)), url('images/2ndbg.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
}

.featured-text {
    max-width: 500%;
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: 'Akaya Kanadaka', cursive;
}

.featured-text button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    margin: 20px 0px;
    color: white;
}



/* latest section */
.latest {
    padding: 50px 100px;
}

.product-intro {
    text-align: center;
}

.product-intro h1 {
    color: var(--primary-color);
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: bolder;
}

.product-intro h1 span {
    color: black;
}

.product-intro p {
    color: gray;
    margin: 15px 0;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
    cursor: pointer;
    flex-wrap: wrap;
}

.card-container .card {
    flex-basis: 20%;
    padding: 0.8rem;
    position: relative;
    /* justify-content: center; */
}

.card img {
    width: 100%;
    transition: .5s ease-in-out;
}

.card i {
    color: goldenrod;
    margin-top: 10px;
}

.card button {
    color: white;
    background-color: black;
    padding: 5px 20px;
    margin: 15px;
}


.card:hover img,
.card:hover h1 {
    width: 80%;
    color: var(--primary-colors);
}

.card h1 {
    color: black;
}

.card::before {
    content: '20% off';
    width: 25%;
    height: 25px;
    line-height: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    padding: 0px 4px;
    transform: rotate(-20deg);

}

/* Popular product section */



/* trends section start */

.trends {
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, .01);
}


.trends .swiper {
    width: 100%;
    padding: 50px;
}

.trends .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 360px;
}

.trends .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}


footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
}

footer div {
    flex-basis: 30%;
}

footer h1 {
    letter-spacing: .5rem;
}

footer h1 span {
    color: var(--primary-color);
}

footer p span {
    color: var(--primary-color);
    font-weight: bolder;
}

footer p {
    font-size: 1rem;
}

footer i {
    margin: 0px 5px;
}

#sidenav{
    display: none;
}
#menubar{
    display:none;
}
@media only screen and (max-width:769px) {

    #sidenav{
        display: block;
    }

    #menubar{
        display: block;
        position: absolute;
        top:50%;
        right: 0;
        transform: translate(0%,-50%);
        z-index: 99;
        background-color: var(--primary-color);
        font-size: 2rem;
        padding: 20px 10px;
        color: white;
        animation: animate 5s ease infinite;
    }
    @keyframes animate{
        0%{
            background-color:gray;
        }
        100%{
            background-color:var(--primary-color);
        }
    }


    
#sidenav {
    width: 250px;
    height: 100vh;
    position: absolute;
    z-index: 3;
    background-color: gray;
    padding-top: 70px;
    display: block;
    overflow: hidden;
    transition: .5s ease;
    top:0;
    left: 0;
}

#sidenav ul {
    list-style: none;

}

#sidenav ul li {
    display: block;
    width: 200px;
    z-index: 99;
    position: relative;
    margin: 10px 20px;
}

#sidenav ul li a {
    text-decoration: none;
    color:white;
    font-weight: 500;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
}

#sidenav ul li a:hover {
    color: var(--primary-color);
}

#sidenav ul li i {
    color: white;
    margin: 0px 6px;
}

#sidenav ul ul {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
}

#sidenav ul ul li {
    
    border-bottom: 1px solid white;
}

#sidenav ul li:hover> ul {
    display: block;
}



    .nav1 {
        position: relative;
        z-index: 2;
        background-color: white;
    }

    .nav1 .right i {
        font-size: 15px;
        margin: 0px 5px;
    }

    .nav2 {
        width: 100%;
        height: 80px;
    }

    
.nav2 .nav2-left,
.nav2 .nav2-center,
.nav2 .nav2-right {
    flex-basis: 30%;
    margin: auto;
    cursor: pointer;
}

.nav2 .nav2-left i {
    margin-left: 0px;
}

.nav2 .nav2-center h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.nav2 .nav2-center p {
    color: gray;
    font-size: 10px;
    margin-top: 5px;
}

.nav2 .nav2-right i {
    margin: 0px 5px;
}

.nav3{
    display: none;
}


.featured{
    background-attachment: fixed;
    /* background-size: cover;
    background-repeat: no-repeat; */
}


/* latest section mQ*/
.latest {
    padding: 0px 50px;
}

.product-intro {
    text-align: center;
}

.product-intro h1 {
    color: var(--primary-color);
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: bolder;
}

.product-intro h1 span {
    color: black;
}

.product-intro p {
    color: gray;
    margin: 15px 0;
}

.card-container {
    margin: 2rem 0;
    cursor: pointer;
}

.card-container .card {
    flex-basis: 100%;
    padding: 0.8rem;
    position: relative;
    text-align: center;
    /* justify-content: center; */
}

.card img {
    width: 100%;
    transition: .5s ease-in-out;
}

.card i {
    color: goldenrod;
    margin-top: 10px;
}

.card button {
    color: white;
    background-color: black;
    padding: 5px 20px;
    margin: 15px;
}


.card:hover img,
.card:hover h1 {
    width: 80%;
    color: var(--primary-colors);
}

.card h1 {
    color: black;
}

.card::before {
    content: '20% off';
    width: 25%;
    height: 25px;
    line-height: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    padding: 0px 4px;
    transform: rotate(-20deg);

}

/* trends section start mQ*/

.trends {
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, .01);
}


.trends .swiper {
    width: 100%;
    padding: 50px;
}

.trends .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.trends .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

footer div {
    flex-basis: 50%;
    margin:10px 0;
}

}